<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="Conection" connectionString="Data Source=(local)\SQLSERVER2008;Initial Catalog=Game;User ID=sa;Password=cep"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>


    <authentication mode="Forms">
      <forms
      name=".ASPXAUTH" loginUrl="Index.aspx" protection="All" path="/" timeout="30"
      />
    </authentication>

    <authorization>
      <!-- <deny users="?"/>-->
    </authorization>


    <!-- Proveïdor on es troba la taula amb les dades d'usuaris i quines normes tenim pels usuaris-->
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
             connectionStringName="Conection" enablePasswordRetrieval="false" enablePasswordReset="true"
             requiresQuestionAndAnswer="false" applicationName="/" requiresUniqueEmail="true" passwordFormat="Hashed"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="8" minRequiredNonalphanumericCharacters="0"
             passwordAttemptWindow="10" passwordStrengthRegularExpression=""/>
      </providers>
    </membership>
    <!-- Proveïdor on es troba el perfil. Al perfil guardem les dades extres que volem tenir de l'usuari.
          També indicarem quines són les dades extres que volme guardar indicant les propietats. -->

    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" connectionStringName="Conection"
             applicationName="/" type="System.Web.Profile.SqlProfileProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </providers>
      <!-- Propietats extres de l'usuari que es guarden al perfil -->
      <properties>
        <add name="Raza"/>
      </properties>

    </profile>

    <roleManager enabled="true">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider"
        connectionStringName="Conection"
        applicationName="/"
        type="System.Web.Security.SqlRoleProvider, System.Web, Version=4.0.0.0, 
Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
        <add name="AspNetWindowsTokenRoleProvider"
        applicationName="/"
        type="System.Web.Security.WindowsTokenRoleProvider, System.Web, 
Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </providers>
    </roleManager>
    <sessionState mode="SQLServer" allowCustomSqlDatabase="true" sqlConnectionString="data source=(local)\SQLSERVER2008;Initial Catalog=usuaris;user id=sa;password=cep"/>

  </system.web>
</configuration>